<!--
* 날짜 : 2025/11/20
* 이름 : 김대현
* 내용 : 약관 동의관련 수정
-->


<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>외화 계좌이체 1</title>
    <link rel="stylesheet" th:href="@{/css/mypage.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">

    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    crossorigin="anonymous"
    />

</head>
<body>
<div th:replace="~{_template/_header.html}"></div>


<main class="transfer1-container">
  <!-- 단계 표시 -->
  <div class="transfer1-steps">
    <div class="transfer1-step active">
      <span class="num">1</span>
      <span class="text">약관동의</span>
    </div>
    <div class="transfer1-step">
      <span class="num">2</span>
      <span class="text">정보입력</span>
    </div>
    <div class="transfer1-step">
      <span class="num">3</span>
      <span class="text">이체확인</span>
    </div>
    <div class="transfer1-step">
      <span class="num">4</span>
      <span class="text">이체완료</span>
    </div>
  </div>

  <div class="transfer1-box">
    <h2 class="transfer1-title">외화계좌이체 약관동의</h2>

    <p class="terms-desc">
      외화계좌이체를 이용하시기 전에 아래 약관을 반드시 확인하고 동의해 주세요.
    </p>

    <!-- 약관 그룹 -->
      <section class="terms-group">
          <div class="terms-box" th:each="t, stat : ${termsList}">
              <p class="terms-title" th:text="${t.termTitle}"></p>

              <div class="terms-content">
                  <pre th:text="${t.termContent}"></pre>
              </div>

              <div class="terms-check">
                  <label class="custom-check">
                      <input type="checkbox" class="term-check"
                             th:id="|remit-term${stat.index}|"
                             th:attr="data-cate=${t.termCate}, data-order=${t.termOrder}">
                      <span class="checkmark"></span> 위 약관에 동의합니다.
                  </label>
              </div>
          </div>

          <!-- 전체 동의 -->
          <div class="terms-all">
              <label class="custom-check">
                  <input type="checkbox" id="agreeAll">
                  <span class="checkmark"></span> 전체 약관에 동의합니다.
              </label>
          </div>
      </section>


    <!-- 다음 버튼 -->
      <div class="terms-actions">
          <a th:href="@{/remit/en_transfer_2}">

          <button class="btn-next">다음</button>
          </a>
      </div>


  </div>
</main>

<div th:replace="~{_template/_footer.html}"></div>
<script th:src="@{/js/remit.js}"></script>

</body>
</html>

