<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>이벤트리스트</title>
    <link rel="stylesheet" th:href="@{/css/customer.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">

    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    crossorigin="anonymous"
    />

</head>
<body>
<div th:replace="~{_template/_header.html}"></div>

<main class="customer-container">

    <div th:replace="~{customer/_side.html}"></div>

<!-- 🔹 본문 -->
<section class="customer-content">
  <h2>이벤트</h2>

  <div class="notice-board">
    <table class="board-table">
      <thead>
        <tr>
          <th>번호</th>
          <th>제목</th>
          <th>진행기간</th>
          <th>상태</th>
        </tr>
      </thead>
        <tbody>
        <tr th:each="event, eventStat : ${eventList}">
            <td th:text="${totalCount - ((page - 1) * pageSize) - eventStat.index}"></td>
            <td>
                <a th:href="@{/customer/event_view/{no}(no=${event.boardNo})}"
                   th:text="${event.boardTitle}"></a>
            </td>
            <td th:text="${#temporals.format(event.boardRegDt, 'yyyy-MM-dd')}"></td>
            <td><span class="tag">진행중</span></td>
        </tr>


        <tr th:if="${#lists.isEmpty(eventList)}">
            <td colspan="4" class="empty">진행 중인 이벤트가 없습니다.</td>
        </tr>
        </tbody>


    </table>

      <div class="pagination">

          <!-- 이전 버튼 -->
          <a th:if="${page > 1}"
             th:href="@{/customer/event_list(page=${page-1})}"
             class="page-prev">
              〈 이전
          </a>

          <!-- 페이지 번호 -->
          <a th:each="p : ${#numbers.sequence(1, totalPage)}"
             th:href="@{/customer/event_list(page=${p})}"
             th:text="${p}"
             th:classappend="${p == page} ? 'active'">
          </a>

          <!-- 다음 버튼 -->
          <a th:if="${page < totalPage}"
             th:href="@{/customer/event_list(page=${page+1})}"
             class="page-next">
              다음 〉
          </a>

      </div>



  </div>
</section>


   

</main>

<div th:replace="~{_template/_footer.html}"></div>
</body>
</html>

