<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>이벤트 상세보기</title>
    <link rel="stylesheet" th:href="@{/css/customer.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    crossorigin="anonymous"
  />
</head>
<body>

<div th:replace="~{_template/_header.html}"></div>

<main class="customer-container">

    <div th:replace="~{customer/_side.html}"></div>


  <!-- 🔹 본문 -->
  <section class="customer-content">
    <h2>이벤트</h2>

    <div class="qna-view">
      <div class="view-header">
          <h3 th:text="${event.boardTitle}"></h3>
          <p class="meta">
              등록일 <strong th:text="${event.boardRegDt}"></strong> |
              조회수 <span th:text="${event.boardHit}"></span>
          </p>
      </div>

      <div class="view-body">
          <div class="view-body">
              <p th:utext="${#strings.replace(event.boardContent, '\n', '<br/>')}"></p>
          </div>

      </div>

        <div class="event-benefit">
            <h4><i class="fa-solid fa-gift"></i> 이벤트 혜택</h4>
            <p>
                이벤트 기간 중 해외송금 수수료 면제 혜택이 제공되며,
                참여 고객 일부에게는 기념품이 제공됩니다.
            </p>

        </div>




        <div class="view-footer">
          <a th:href="@{/customer/event_list}" class="btn-cancel">
          <i class="fa-solid fa-list"></i> 목록
        </a>
      </div>
    </div>
  </section>
</main>

<div th:replace="~{_template/_footer.html}"></div>
</body>
</html>
