<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>이벤트리스트</title>
    <link rel="stylesheet" th:href="@{/css/customer.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">

    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    crossorigin="anonymous"
    />

</head>
<body>
<div th:replace="~{/_template/_header.html}"></div>

<main class="customer-container">

    <div th:replace="~{/customer/_side}"></div>

<!-- 🔹 본문 -->
<section class="customer-content">
  <h2>이벤트</h2>

  <div class="notice-board">
    <table class="board-table">
      <thead>
        <tr>
          <th>번호</th>
          <th>제목</th>
          <th>진행기간</th>
          <th>상태</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>3</td>
          <td><a href="#">해외송금 수수료 0원 이벤트</a></td>
          <td>2025.11.01 ~ 2025.12.31</td>
          <td><span class="tag">진행중</span></td>
        </tr>
        <tr>
          <td>2</td>
          <td><a href="#">외화예금 신규고객 캐시백 이벤트</a></td>
          <td>2025.10.01 ~ 2025.11.15</td>
          <td><span class="tag end">종료</span></td>
        </tr>
        <tr>
          <td>1</td>
          <td><a href="#">유학생 전용 외화송금 혜택 이벤트</a></td>
          <td>2025.11.05 ~ 2026.01.31</td>
          <td><span class="tag">진행중</span></td>
        </tr>
      </tbody>
    </table>

<div class="pagination">
  <a href="#" class="page-prev">〈 이전</a>
  <a href="#" class="active">1</a>
  <a href="#">2</a>
  <a href="#">3</a>
  <a href="#" class="page-next">다음 〉</a>
</div>


  </div>
</section>


   

</main>

<div th:replace="~{/_template/_footer.html}"></div>
</body>
</html>

