<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>공지사항 상세보기</title>
    <link rel="stylesheet" th:href="@{/css/customer.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    crossorigin="anonymous"
  />
</head>
<body>
<div th:replace="~{_template/_header.html}"></div>

<main class="customer-container">

    <div th:replace="~{customer/_side.html}"></div>

  <!-- 🔹 본문 -->
  <section class="customer-content">
    <h2>공지사항</h2>


      <div class="qna-view notice-view">

          <!-- 헤더 -->
          <div class="view-header">
              <h3 th:text="${notice.boardTitle}"></h3>

              <p class="meta">
                  작성자 <strong th:text="${notice.boardAdminId}"></strong> |
                  등록일 <span th:text="${notice.boardRegDt}"></span> |
                  조회수 <span th:text="${notice.boardHit}"></span>
              </p>
          </div>

          <!-- 본문 -->
          <div class="view-body">
              <p th:utext="${#strings.replace(notice.boardContent, '\n', '<br/>')}"></p>
          </div>

          <!-- 목록 버튼 -->
          <div class="view-footer">
              <a th:href="@{/customer/notice_list}" class="btn-cancel">
                  <i class="fa-solid fa-list"></i> 목록
              </a>
          </div>
      </div>



  </section>
</main>

<div th:replace="~{_template/_footer.html}"></div>
</body>
</html>
