<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>이벤트리스트</title>
    <link rel="stylesheet" th:href="@{/css/customer.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">

    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    crossorigin="anonymous"
    />

</head>
<body>
<div th:replace="~{/_template/_header.html}"></div>
<main class="customer-container">

    <div th:replace="~{/customer/_side}"></div>

  <!-- 🔹 본문 -->
<section class="customer-content">
  <h2>공지사항</h2>

  <div class="notice-board">
    <table class="board-table">
      <thead>
        <tr>
          <th>번호</th>
          <th>제목</th>
          <th>작성일</th>
          <th>조회수</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>6</td>
          <td><a href="noticeView.html">모바일 뱅킹 긴급 점검 안내 (11/12)</a></td>
          <td>2025-11-06</td>
          <td>104</td>
        </tr>
        <tr>
          <td>5</td>
          <td><a href="noticeView.html">외화예금 금리 인상 안내</a></td>
          <td>2025-11-02</td>
          <td>87</td>
        </tr>
        <tr>
          <td>4</td>
          <td><a href="noticeView.html">이용약관 개정 공지 (11월 1일 시행)</a></td>
          <td>2025-10-28</td>
          <td>125</td>
        </tr>
        <tr>
          <td>3</td>
          <td><a href="noticeView.html">해외송금 서비스 일시 중단 안내</a></td>
          <td>2025-10-20</td>
          <td>76</td>
        </tr>
      </tbody>
    </table>

<div class="pagination">
  <a href="#" class="page-prev">〈 이전</a>
  <a href="#" class="active">1</a>
  <a href="#">2</a>
  <a href="#">3</a>
  <a href="#" class="page-next">다음 〉</a>
</div>


</section>


   

</main>

<div th:replace="~{/_template/_footer.html}"></div>
</body>
</html>

