<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>공지사항</title>
    <link rel="stylesheet" th:href="@{/css/customer.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">

    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    crossorigin="anonymous"
    />

</head>
<body>
<div th:replace="~{_template/_header.html}"></div>
<main class="customer-container">

    <div th:replace="~{customer/_side.html}"></div>

  <!-- 🔹 본문 -->
<section class="customer-content">
  <h2>공지사항</h2>

  <div class="notice-board">
    <table class="board-table">
      <thead>
        <tr>
          <th>번호</th>
          <th>제목</th>
          <th>작성일</th>
          <th>조회수</th>
        </tr>
      </thead>
        <tbody>
        <tr th:each="notice, noticeStat : ${noticeList}">
            <td th:text="${totalCount - ((page - 1) * pageSize) - noticeStat.index}"></td>
            <td class="title">
                <a th:href="@{/customer/notice_view/{no}(no=${notice.boardNo})}"
                   th:text="${notice.boardTitle}"></a>
            </td>
            <td th:text="${#temporals.format(notice.boardRegDt, 'yyyy-MM-dd')}"></td>
            <td th:text="${notice.boardHit}"></td>
        </tr>

        <tr th:if="${#lists.isEmpty(noticeList)}">
            <td colspan="4" class="empty">등록된 공지사항이 없습니다.</td>
        </tr>
        </tbody>

    </table>
      <!-- 페이지네이션 -->
      <div class="pagination">

          <!-- 이전 버튼 -->
          <a th:if="${page > 1}"
             th:href="@{/customer/notice_list(page=${page-1})}"
             class="page-prev">
              〈 이전
          </a>

          <!-- 페이지 번호 -->
          <a th:each="p : ${#numbers.sequence(1, totalPage)}"
             th:href="@{/customer/notice_list(page=${p})}"
             th:text="${p}"
             th:classappend="${p == page} ? 'active'">
          </a>

          <!-- 다음 버튼 -->
          <a th:if="${page < totalPage}"
             th:href="@{/customer/notice_list(page=${page+1})}"
             class="page-next">
              다음 〉
          </a>

      </div>

  </div>



</section>


   

</main>

<div th:replace="~{_template/_footer.html}"></div>
</body>
</html>

