<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>외화 예금 3</title>
    <link rel="stylesheet" th:href="@{/css/deposit.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">

    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    crossorigin="anonymous"
    />

</head>
<body>
<div th:replace="~{_template/_header.html}"></div>

<main class="view-main">

    <div th:replace="~{deposit/_side.html}"></div>


  <div class="step1-container">
    <h2 class="step1-title">BNK 모아드림 외화적금</h2>

  
    <div class="step1-steps">
      <div class="step1-step">
        <span class="num">1</span><span class="text">약관동의</span>
      </div>
      <div class="step1-step">
        <span class="num">2</span><span class="text">정보입력</span>
      </div>
      <div class="step1-step active">
        <span class="num">3</span><span class="text">입력정보확인</span>
      </div>
    </div>


    
    <!--  안내문 -->
    <div class="step3-info-box">
      <ul>
        <li>고객님의 입력 정보를 다시 한 번 확인한 후 거래를 진행하시기 바랍니다.</li>
        <li>아래의 적용환율은 현재 고시된 환율이며, 실제 거래시점의 적용환율은 변동될 수 있습니다.</li>
      </ul>
    </div>

    <!--  정보확인 표 -->
    <section class="step3-confirm-section">
      
      <table class="step3-table">
        <tr><th>예금명</th><td>외화정기예금</td></tr>
        <tr><th>신규통화</th><td>CNY (중국 위안)</td></tr>
        <tr><th>신규금액</th><td>1.00</td></tr>
        <tr><th>입금회차</th><td>1</td></tr>
        <tr><th>예금금리</th><td>0%</td></tr>
        <tr><th>적용과세</th><td>일반</td></tr>
        <tr><th>만기일</th><td>2025.12.07</td></tr>
        <tr><th>예치기간</th><td>1개월</td></tr>
        <tr><th>출금계좌번호</th><td>104302-04-412952</td></tr>
        <tr><th>출금통화</th><td>KRW (한국 원)</td></tr>
        <tr><th>출금적용환율</th><td>205.85</td></tr>
        <tr><th>예금금액</th><td>205</td></tr>
        <tr><th>자동연장신청 여부</th><td>아니오</td></tr>
        <tr><th>자동해지신청 여부</th><td>예</td></tr>
      </table>
    </section>

    <!--  안내문 -->
    <div class="step3-note-box">
      <p class="step3-note-text">
        ※ 본 상품정보 요약문은 이용자의 상품에 대한 이해를 돕기 위한 안내이며, 
        자세한 내용은 해당 상품의 상품설명서를 참고해주시기 바랍니다.
      </p>
      <p class="step3-note-text">* 가입불가 : 약관만동의 외화에서 상품설명서 확인 불가</p>
      <p class="step3-note-text">* 확인 : 계약서류 관리 거래를 통해 상품설명서 확인 가능</p>
    </div>

    <!--  버튼 -->
  <div class="step1-actions">
    <a href="/deposit/deposit_step2.html" class="step1-btn-prev">이전</a>
    <a href="/deposit/deposit_step4.html" class="step1-btn-next">완료</a>
  </div>
  </div>
</main>

<div th:replace="~{_template/_footer.html}"></div>
<script src ="/static/js/deposit.js"></script>

</body>
</html>

