<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>외화 예금 상품 목록</title>
  <link rel="stylesheet" th:href="@{/css/deposit.css}">
  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" th:href="@{/css/footer.css}">

    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    crossorigin="anonymous"
    />

</head>
<body>
<div th:replace="~{_template/_header.html}"></div>
<main class="list-container">

    <div th:replace="~{deposit/_side.html}"></div>

  <!-- 오른쪽 상품 목록 -->
  <section class="list-content">
    <div class="list-header">
      <p>조회결과 <strong>[총 15건]</strong></p>
    
    </div>

    <!-- 상품 아이템 -->
    <div class="list-item">
      <div class="list-info">
        <h4><a href="#" class="list-link">SOL트래블 외화예금</a></h4>
        <p>총 21개국 통화로 자유롭게 전환 가능하며, 고객이 지정한 환율로 처리되는 입출금형 외화예금 상품입니다.</p>
        <div class="list-tags">
          <span>모바일</span>
          <span>영업점</span>
        </div>
      </div>
      <div class="list-actions">
        <button class="list-detail-btn">상세보기</button>
        <button class="list-join-btn">가입하기</button>
      </div>
    </div>

    <div class="list-item">
      <div class="list-info">
        <h4><a href="#" class="list-link">SOL트래블 외화예금</a></h4>
        <p>총 21개국 통화로 자유롭게 전환 가능하며, 고객이 지정한 환율로 처리되는 입출금형 외화예금 상품입니다.</p>
        <div class="list-tags">
          <span>모바일</span>
          <span>영업점</span>
        </div>
      </div>
      <div class="list-actions">
        <button class="list-detail-btn">상세보기</button>
        <button class="list-join-btn">가입하기</button>
      </div>
    </div>

    <div class="list-item">
      <div class="list-info">
        <h4><a href="#" class="list-link">SOL트래블 외화예금</a></h4>
        <p>총 21개국 통화로 자유롭게 전환 가능하며, 고객이 지정한 환율로 처리되는 입출금형 외화예금 상품입니다.</p>
        <div class="list-tags">
          <span>모바일</span>
          <span>영업점</span>
        </div>
      </div>
      <div class="list-actions">
        <button class="list-detail-btn">상세보기</button>
        <button class="list-join-btn">가입하기</button>
      </div>
    </div>

    <div class="list-item">
      <div class="list-info">
        <h4><a href="#" class="list-link">외화 체인지업 예금</a></h4>
        <p>총 21개국 통화로 자유롭게 전환 가능하며, 고객이 지정한 환율로 처리되는 입출금형 외화예금 상품입니다.</p>
        <div class="list-tags">
          <span>모바일</span>
          <span>영업점</span>
        </div>
      </div>
      <div class="list-actions">
        <button class="list-detail-btn">상세보기</button>
        <button class="list-join-btn">가입하기</button>
      </div>
    </div>

    <div class="list-item">
      <div class="list-info">
        <h4><a href="#" class="list-link">외화 체인지업 예금</a></h4>
        <p>총 21개국 통화로 자유롭게 전환 가능하며, 고객이 지정한 환율로 처리되는 입출금형 외화예금 상품입니다.</p>
        <div class="list-tags">
          <span>모바일</span>
          <span>영업점</span>
        </div>
      </div>
      <div class="list-actions">
        <button class="list-detail-btn">상세보기</button>
        <button class="list-join-btn">가입하기</button>
      </div>
    </div>





  </section>

</main>

<div th:replace="~{_template/_footer.html}"></div>
</body>
</html>

