<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>외화 예금 상품 목록</title>
  <link rel="stylesheet" th:href="@{/css/deposit.css}">
  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" th:href="@{/css/footer.css}">

    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    crossorigin="anonymous"
    />

</head>
<body>
<div th:replace="~{_template/_header.html}"></div>
<main class="list-container">

    <div th:replace="~{deposit/_side.html}"></div>

  <!-- 오른쪽 상품 목록 -->
  <section class="list-content">
    <div class="list-header">
        <p>조회결과 <strong>[총 [[${count}]]건]</strong></p>
    </div>

    <!-- 상품 아이템 -->
      <div th:each="item : ${list}" class="list-item">
          <div class="list-info">
              <h4>
                  <a th:text="${item.dpstName}"
                     th:href="@{/deposit/detail/{id}(id=${item.dpstId})}"
                     class="list-link">
                  </a>
              </h4>

              <p th:text="${item.dpstInfo}"></p>

              <div class="list-tags">
                  <span>모바일</span>
                  <span>영업점</span>
              </div>
          </div>

          <div class="list-actions">
              <a class="list-detail-btn"
                 th:href="@{/deposit/view(id=${item.dpstId})}">
                  상세보기
              </a>

              <a class="list-join-btn"
                 th:href="@{/deposit/deposit_step1(id=${item.dpstId})}">
                  가입하기
              </a>

          </div>
      </div>





  </section>

</main>

<div th:replace="~{_template/_footer.html}"></div>
</body>
</html>

