<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>입출금통장 개설 페이지</title>

    <link rel="stylesheet" th:href="@{/css/mypage.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">

    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
            crossorigin="anonymous"
    />

</head>
<body>
<div th:replace="~{_template/_header.html}"></div>

<main class="open-choice-container">
    <div class="open-choice-box">
        <img th:src="@{/images/character10.png}" alt="플로뱅크 캐릭터" class="choice-main-img" />
        <h2>어떤 입출금통장을 개설하시겠어요?</h2>

        <div class="choice-buttons">
            <a th:href="@{/mypage/ko_account_open_1}" class="choice-btn">
                <i class="fa-solid fa-won-sign"></i>
                원화 입출금통장
            </a>

            <a th:href="@{/mypage/en_account_open_1}" class="choice-btn">
                <i class="fa-solid fa-globe"></i>
                외화 입출금통장
            </a>
        </div>
    </div>
</main>
<div th:replace="~{_template/_footer.html}"></div>

</body>
</html>