<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>외화 계좌개설1</title>
    <link rel="stylesheet" th:href="@{/css/mypage.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">

    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    crossorigin="anonymous"
    />

</head>
<body>
<div th:replace="~{_template/_header.html}"></div>

<main class="terms-container">
  <h2>외화 입출금 통장 개설 약관 동의</h2>
  <p class="terms-desc">통장 개설을 위해 아래 약관을 확인하시고 동의해주세요.</p>

  <section class="terms-group">
    <h3 class="group-title">전자금융 약관 동의</h3>


      <div class="terms-box" th:each="t : ${termsList}">
          <h4 class="terms-title" th:text="${t.termTitle}">전자금융이용약관</h4>
          <div class="terms-content">
              <p th:utext="${t.termContent}">
              </p>
          </div>
          <div class="terms-check">
              <label class="custom-check">
                  <input type="checkbox" class="term-check"
                         th:attr="data-cate=${t.termCate}, data-order=${t.termOrder}">
                  <span class="checkmark"></span>
                  위 약관에 동의합니다.
              </label>
          </div>
      </div>

    <!-- 전자금융서비스 이용약관 -->
      <div class="terms-box" th:each="t : ${termsList}">
          <h4 class="terms-title" th:text="${t.termTitle}">전자금융서비스 이용약관</h4>
          <div class="terms-content">
              <p th:utext="${t.termContent}">
              </p>
          </div>
          <div class="terms-check">
              <label class="custom-check">
                  <input type="checkbox" class="term-check"
                         th:attr="data-cate=${t.termCate}, data-order=${t.termOrder}">
                  <span class="checkmark"></span>
                  위 약관에 동의합니다.
              </label>
          </div>
      </div>

    <!-- 개인(신용)정보 수집·이용 동의서(전자금융) -->
      <div class="terms-box" th:each="t : ${termsList}">
          <h4 class="terms-title" th:text="${t.termTitle}">개인(신용)정보 수집·이용 동의서 (전자금융)</h4>
          <div class="terms-content">
              <p th:utext="${t.termContent}">
              </p>
          </div>
          <div class="terms-check">
              <label class="custom-check">
                  <input type="checkbox" class="term-check"
                         th:attr="data-cate=${t.termCate}, data-order=${t.termOrder}">
                  <span class="checkmark"></span>
                  위 약관에 동의합니다.
              </label>
          </div>
      </div>

    <!-- 스타뱅킹서비스 이용 및 상품가입 동의 -->
      <div class="terms-box" th:each="t : ${termsList}">
          <h4 class="terms-title" th:text="${t.termTitle}">스타뱅킹서비스 이용 및 상품가입 동의</h4>
          <div class="terms-content">
              <p th:utext="${t.termContent}">
              </p>
          </div>
          <div class="terms-check">
              <label class="custom-check">
                  <input type="checkbox" class="term-check"
                         th:attr="data-cate=${t.termCate}, data-order=${t.termOrder}">
                  <span class="checkmark"></span>
                  위 약관에 동의합니다.
              </label>
          </div>
      </div>
  </section>

  <!-- 2️⃣ 상품 약관 동의 -->
  <section class="terms-group">
    <h3 class="group-title">상품 약관 동의</h3>

      <div class="terms-box" th:each="t : ${termsList}">
          <h4 class="terms-title" th:text="${t.termTitle}">예금거래기본약관</h4>
          <div class="terms-content">
              <p th:utext="${t.termContent}">
              </p>
          </div>
          <div class="terms-check">
              <label class="custom-check">
                  <input type="checkbox" class="term-check"
                         th:attr="data-cate=${t.termCate}, data-order=${t.termOrder}">
                  <span class="checkmark"></span>
                  위 약관에 동의합니다.
              </label>
          </div>
      </div>

      <div class="terms-box" th:each="t : ${termsList}">
          <h4 class="terms-title" th:text="${t.termTitle}">입출금이자자유로움 약관</h4>
          <div class="terms-content">
              <p th:utext="${t.termContent}">
              </p>
          </div>
          <div class="terms-check">
              <label class="custom-check">
                  <input type="checkbox" class="term-check"
                         th:attr="data-cate=${t.termCate}, data-order=${t.termOrder}">
                  <span class="checkmark"></span>
                  위 약관에 동의합니다.
              </label>
          </div>
      </div>

      <div class="terms-box" th:each="t : ${termsList}">
          <h4 class="terms-title" th:text="${t.termTitle}">입출금통장 상품설명서</h4>
          <div class="terms-content">
              <p th:utext="${t.termContent}">
              </p>
          </div>
          <div class="terms-check">
              <label class="custom-check">
                  <input type="checkbox" class="term-check"
                         th:attr="data-cate=${t.termCate}, data-order=${t.termOrder}">
                  <span class="checkmark"></span>
                  위 약관에 동의합니다.
              </label>
          </div>
      </div>

      <div class="terms-box" th:each="t : ${termsList}">
          <h4 class="terms-title" th:text="${t.termTitle}">개인(신용)정보 수집·이용 동의서 (상품서비스)</h4>
          <div class="terms-content">
              <p th:utext="${t.termContent}">
              </p>
          </div>
          <div class="terms-check">
              <label class="custom-check">
                  <input type="checkbox" class="term-check"
                         th:attr="data-cate=${t.termCate}, data-order=${t.termOrder}">
                  <span class="checkmark"></span>
                  위 약관에 동의합니다.
              </label>
          </div>
      </div>
  </section>

  <!-- 3️⃣ 확인 및 안내사항 -->
  <section class="terms-group">
    <h3 class="group-title">확인 및 안내사항</h3>

      <div class="terms-box" th:each="t : ${termsList}">
          <h4 class="terms-title" th:text="${t.termTitle}">예금주 본인확인 (스타뱅킹)</h4>
          <div class="terms-content">
              <p th:utext="${t.termContent}">
              </p>
          </div>
          <div class="terms-check">
              <label class="custom-check">
                  <input type="checkbox" class="term-check"
                         th:attr="data-cate=${t.termCate}, data-order=${t.termOrder}">
                  <span class="checkmark"></span>
                  위 약관에 동의합니다.
              </label>
          </div>
      </div>

      <div class="terms-box" th:each="t : ${termsList}">
          <h4 class="terms-title" th:text="${t.termTitle}">통장·현금카드 비대면 개설 동의</h4>
          <div class="terms-content">
              <p th:utext="${t.termContent}">
              </p>
          </div>
          <div class="terms-check">
              <label class="custom-check">
                  <input type="checkbox" class="term-check"
                         th:attr="data-cate=${t.termCate}, data-order=${t.termOrder}">
                  <span class="checkmark"></span>
                  위 약관에 동의합니다.
              </label>
          </div>
      </div>

      <div class="terms-box" th:each="t : ${termsList}">
          <h4 class="terms-title" th:text="${t.termTitle}">거래 목적 및 자금 원천 확인</h4>
          <div class="terms-content">
              <p th:utext="${t.termContent}">
              </p>
          </div>
          <div class="terms-check">
              <label class="custom-check">
                  <input type="checkbox" class="term-check"
                         th:attr="data-cate=${t.termCate}, data-order=${t.termOrder}">
                  <span class="checkmark"></span>
                  위 약관에 동의합니다.
              </label>
          </div>
      </div>
  </section>

    <section class="terms-group">
        <h3 class="group-title">금융상품의 중요사항 안내</h3>

        <div class="terms-box" th:each="t : ${termsList}">
            <h4 class="terms-title" th:text="${t.termTitle}">우선 설명사항 [필수]</h4>
            <div class="terms-content">
                <p th:utext="${t.termContent}">
                </p>
            </div>
            <div class="terms-check">
                <label class="custom-check">
                    <input type="checkbox" class="term-check"
                           th:attr="data-cate=${t.termCate}, data-order=${t.termOrder}">
                    <span class="checkmark"></span>
                    위 약관에 동의합니다.
                </label>
            </div>
        </div>

        <div class="terms-box" th:each="t : ${termsList}">
            <h4 class="terms-title" th:text="${t.termTitle}">예금상품 및 연계·제휴 서비스 [필수]</h4>
            <div class="terms-content">
                <p th:utext="${t.termContent}">
                </p>
            </div>
            <div class="terms-check">
                <label class="custom-check">
                    <input type="checkbox" class="term-check"
                           th:attr="data-cate=${t.termCate}, data-order=${t.termOrder}">
                    <span class="checkmark"></span>
                    위 약관에 동의합니다.
                </label>
            </div>
        </div>
  </section>

  <!-- 전체 동의 -->
  <div class="terms-all">
    <label class="custom-check">
      <input type="checkbox" id="agreeAll">
      <span class="checkmark"></span>
      <strong> 모든 약관에 동의합니다.</strong>
    </label>
  </div>

  <div class="terms-actions">
  <a th:href="@{/mypage/en_account_open_2}" class="btn-next">다음</a>
</div>
</main>
<div th:replace="~{_template/_footer.html}"></div>
<script th:src="@{/js/mypage.js}"></script>

</body>
</html>

