<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>외화 계좌개설 완료</title>
    <link rel="stylesheet" th:href="@{/css/mypage.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
  

    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    crossorigin="anonymous"
    />

</head>
<body>
<div th:replace="~{_template/_header.html}"></div>
  <!--  외화입출금통장 개설 완료 -->
  <main class="open3-complete">
    <div class="open3-complete-box">
      <div class="open3-char-img">
        <img th:src="@{/images/character10.png}" alt="플로뱅크 캐릭터">
      </div>

      <div class="open3-complete-text">
        <h2 style="font-size: 21px; line-height: 1.4;">
        외화 입출금통장 개설이 완료됐습니다!
        </h2>
        <p>
          글로벌 금융의 첫걸음을 축하드립니다! 🌍<br>
          플로뱅크가 <strong>안전하고 신뢰할 수 있는 외환 서비스</strong>로 고객님의 자산을 관리해드리겠습니다.
        </p>
        <a th:href="@{/}" class="open3-complete-btn">메인으로 가기</a>
      </div>
    </div>
  </main>

<div th:replace="~{_template/_footer.html}"></div>
</body>
</html>

