<!--
* 날짜 : 2025/11/20
* 이름 : 김대현
* 내용 : 약관 동의관련 수정
-->


<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>원화 계좌개설1</title>

    <link rel="stylesheet" th:href="@{/css/mypage.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">

    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
            crossorigin="anonymous"
    />

</head>
<body>
<div th:replace="~{_template/_header.html}"></div>

<main class="terms-container">
    <h2>입출금 통장 개설 약관 동의</h2>
    <p class="terms-desc">통장 개설을 위해 아래 약관을 확인하시고 동의해주세요.</p>

    <section class="terms-group">
        <div class="terms-box" th:each="t, stat : ${termsList}">
            <h3 class="terms-title" th:text="${t.termTitle}">약관 제목</h3>

        <div class="terms-content">
            <pre th:text="${t.termContent}"></pre>

            </div>
            <div class="terms-check">
                <label class="custom-check">
                    <input type="checkbox" class="term-check"
                           th:id="|ko-term${stat.index}|"
                           th:attr="data-cate=${t.termCate}, data-order=${t.termOrder}">
                    <span class="checkmark"></span>
                    위 약관에 동의합니다.
                </label>
            </div>
        </div>
    </section>

    <div class="terms-all">
        <label class="custom-check">
            <input type="checkbox" id="agreeAll">
            <span class="checkmark"></span>
            <strong> 모든 약관에 동의합니다.</strong>
        </label>
    </div>

    <div class="terms-actions">
        <a th:href="@{/mypage/ko_account_open_2}" class="btn-next">다음</a>
    </div>

</main>
<div th:replace="~{_template/_footer.html}"></div>
<script th:src="@{/js/mypage.js}"></script>

</body>
</html>