<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>원화 계좌개설 완료</title>

    <link rel="stylesheet" th:href="@{/css/mypage.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">

    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
            crossorigin="anonymous"
    />

</head>
<body>
<div th:replace="~{/_template/_header.html}"></div>
<main class="open3-complete">
    <div class="open3-complete-box">
        <div class="open3-char-img">
            <img th:src="@{/images/character2.png}" alt="플로은행 캐릭터">
        </div>
        <div class="open3-complete-text">
            <h2><span id="userName">홍길동</span>님, 통장 개설이 완료되었습니다!</h2>
            <p>
                플로은행과 함께하는 새로운 금융 여정이 시작되었습니다.<br>
                고객님의 자산을 <strong>안전하고, 효율적으로</strong> 관리해드리겠습니다.
            </p>
            <a th:href="@{/}" class="open3-complete-btn">메인으로 가기</a>
        </div>
    </div>
</main>

<div th:replace="~{/_template/_footer.html}"></div>

</body>
</html>