<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>환율 조회</title>
    <link rel="stylesheet" th:href="@{/css/rate.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">

    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    crossorigin="anonymous"
    />

</head>
<body>
<div th:replace="~{_template/_header.html}"></div>
<main class="rateinfo-center">
  <section class="rateinfo-section">
      <h2>환율 조회</h2>
      <p class="rateinfo-api-info">한국수출입은행 OpenAPI 사용</p>

    <div class="rateinfo-search-box">
      <label for="rateinfo-date">조회일자</label>
      <input type="date" id="rateinfo-date" class="rateinfo-input" value="2025-11-04">

      <label for="rateinfo-round">고시회차</label>
      <select id="rateinfo-round" class="rateinfo-select">
        <option value="1">1회차</option>
        <option value="2" selected>2회차</option>
        <option value="3">3회차</option>
      </select>

      <button class="rateinfo-btn-search">조회</button>
    </div>

      <table class="rateinfo-table">
          <thead>
          <tr>
              <th>통화코드</th>
              <th>통화명</th>
              <th>송금받을때(TTB)</th>
              <th>송금보낼때(TTS)</th>
              <th>매매기준율</th>
              <th>장부가격</th>
              <th>서울외환중개 매매기준율</th>
              <th>서울외환중개 장부가격</th>
          </tr>
          </thead>

          <tbody></tbody>
      </table>

      <div id="rateinfo-message" class="rateinfo-message"></div>
  </section>

</main>

<script th:src="@{/js/rate_info.js}"></script>
<div th:replace="~{_template/_footer.html}"></div>
</body>
</html>

