services:
  flobank-api: # 서비스 이름 (프론트엔드)
    build: .   # 현재 폴더(flobank-api)의 Dockerfile을 사용
    container_name: flobank-api-container # 컨테이너 이름
    ports:
      # application.yml의 웹 포트 8080을 외부에 8080으로 노출
      - "8080:8080"
    restart: always
    environment:
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - SPRING_ELASTICSEARCH_URIS=http://34.64.225.88:9200
    volumes:
      - flobank_uploads:/app/uploads






volumes:
  flobank_uploads:
    external: true
