<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인</title>
    <link rel="stylesheet" th:href="@{/css/member.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">

    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    crossorigin="anonymous"
    />

</head>
<body>
<div th:replace="~{_template/_header.html}"></div>

<main class="login-section">
  <div class="login-header">
    <h2>로그인</h2>
    <!--  보안 안내 -->
    <div class="security-banner">
      <i class="fa-solid fa-user-shield"></i>
      <div class="security-text">
        <p>OO은행은 보안강화 등을 이유로 보안카드번호(3개 이상 또는 전체)를 요구하지 않습니다.</p>
        <p>OO은행 홈페이지는 인터넷 주소창이 녹색으로 표시되거나 보안 자물쇠가 있습니다.</p>
        <p>수사기관 등 공공기관은 어떤 명목으로도 통장 비밀번호 등 금융정보를 묻거나 범죄에 연루되었다는 등의 이유로 돈을 요구하지 않습니다.</p>
      </div>
    </div>
  </div>


  <div class="login-container">
   
    <!-- ID 로그인 -->
    <div class="login-box id-login">
        <form th:action="@{/member/login}" method="post">
          <input type="text" name="userid" placeholder="이용자 ID">
          <input type="password" name="password" placeholder="비밀번호">
          <button class="btn-sub" type="submit">ID 로그인</button>
        </form>
      <div class="login-links">
          <a th:href="@{/member/find_id}">아이디 찾기</a> |
          <a th:href="@{/member/find_pw}">비밀번호 찾기</a> |
          <a th:href="@{/member/terms}">회원가입</a>
      </div>
    </div>
  </div>

    <!-- 🔹 유의사항 -->
  <div class="notice-section">
    <h3><i class="fa-solid fa-circle-info"></i> 안전한 금융거래를 위한 <span>이용자 유의사항</span></h3>

    <div class="notice-list">
      <div class="notice-item">
        <i class="fa-solid fa-person-walking-arrow-right"></i>
        <p>이용 중 자리를 비우게 될 경우<br>반드시 로그아웃 하세요.</p>
      </div>
      <div class="notice-item">
        <i class="fa-solid fa-right-from-bracket"></i>
        <p>약 10분 동안 활동이 없으면<br>자동 로그아웃 처리됩니다.</p>
      </div>
      <div class="notice-item">
        <i class="fa-solid fa-shield-halved"></i>
        <p>비밀번호는 주기적으로 변경하고<br>타인에게 노출되지 않도록 주의하세요.</p>
      </div>
      <div class="notice-item">
        <i class="fa-solid fa-key"></i>
        <p>비밀번호 5회 오류 시 이용 제한<br>비밀번호 재설정 후 이용 가능.</p>
      </div>
    </div>
  </div>
</main>

<div th:replace="~{_template/_footer.html}"></div>
</body>
</html>

