<!--
* 날짜 : 2025/11/20
* 이름 : 김대현
* 내용 : 약관 동의관련 수정
-->

<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>약관</title>
    <link rel="stylesheet" th:href="@{/css/member.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">

    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    crossorigin="anonymous"
    />

</head>
<body>
<div th:replace="~{_template/_header.html}"></div>

<main class="terms-container">
  <h2>이용 약관 동의</h2>
  <p class="terms-desc">서비스 이용을 위해 아래 약관을 확인하시고 동의해주세요.</p>

    <section class="terms-group">

        <div th:each="t, stat : ${termsList}" class="terms-box">

            <h3 th:text="|[필수] ${t.termTitle}|"></h3>

            <div class="terms-content">
                <pre th:text="${t.thistContent}"></pre>
            </div>

            <div class="terms-check">
                <input type="checkbox" class="term-check"
                       th:id="|term${stat.index}|"
                       th:attr="data-cate=${t.termCate}, data-order=${t.termOrder}">
                <label th:for="|term${stat.index}|">위 약관에 동의합니다.</label>
            </div>

        </div>

        <!-- 전체 동의 -->
        <div class="terms-all">
            <input type="checkbox" id="agreeAll">
            <label for="agreeAll"><strong>모든 약관에 동의합니다.</strong></label>
        </div>

        <!-- 다음 버튼 -->
        <div class="terms-actions">
            <a th:href="@{/member/register}" class="btn-next">다음으로</a>
        </div>

    </section>




</main>

<div th:replace="~{_template/_footer.html}"></div>
<script th:src="@{/js/member.js}"></script>

</body>
</html>

