<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko"
      th:fragment="admin_template(title, pageTitle, content)">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title th:text="${title}">관리자 메인</title>

    <link rel="stylesheet" th:href="@{/css/admin.css}" />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
            crossorigin="anonymous"
    />
</head>
<body>
<div class="admin-layout">
    <!-- 사이드바 fragment 불러오기 -->
    <aside th:replace="~{admin/admin_inc/admin_sidebar :: admin_sidebar}"></aside>

    <main class="main-panel">
        <!-- 헤더 fragment 불러오기 (pageTitle 전달) -->
        <header th:replace="~{admin/admin_inc/admin_header :: admin_header}"></header>

        <!-- 여기 안에 각 페이지의 본문(content) 들어감 -->
        <div class="admin-content" th:insert="${content}"></div>
        

    </main>
</div>
</body>
</html>