<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>환전하기3</title>
    <link rel="stylesheet" th:href="@{/css/exchange.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">

    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    crossorigin="anonymous"
    />

</head>
<body>
<div th:replace="~{_template/_header.html}"></div>
<!-- ✅ step3 전체 컨테이너 -->
<div class="step2-container">
  <!-- 단계 표시 -->
  <div class="step2-steps">
    <div class="step2-step">
      <span class="num">1</span>
      <span class="text">약관동의</span>
    </div>
    <div class="step2-step">
      <span class="num">2</span>
      <span class="text">정보입력</span>
    </div>
    <div class="step2-step active">
      <span class="num">3</span>
      <span class="text">환전완료</span>
    </div>
  </div>

  <!-- 환전 신청 완료 -->
  <div class="step3-complete">
    <div class="step3-complete-box">

      <!-- 캐릭터 이미지 -->
      <div class="step3-char-img">
        <img src="/static/images/character2.png" alt="플로은행 캐릭터">
      </div>

      <!-- 완료 문구 -->
      <div class="step3-complete-text">
        <h2><span id="userName">홍길동</span>님, 환전 신청이 완료되었습니다!</h2>
        <p>
          고객님께서 신청하신 외화는 선택하신 <strong>수령희망지점</strong>에서 수령하실 수 있습니다.<br>
          외화 수령 시 반드시 <strong>신분증을 지참</strong>하시고, <strong>신청인 본인만 수령 가능</strong>합니다.<br><br>
          플로은행을 이용해 주셔서 감사합니다.
        </p>

        <a href="/" class="step3-complete-btn">메인으로 가기</a>
      </div>
    </div>
  </div>
</div>

<div th:replace="~{_template/_footer.html}"></div>
<script src ="/static/js/exchange.js"></script>

</body>
</html>

