services:
  flobank-ap: # 서비스 이름 (백엔드)
    build: .  # 현재 폴더(flobank-ap)의 Dockerfile을 사용해 이미지를 빌드
    container_name: flobank-ap-container # 컨테이너 이름
    ports:
      # application.yml의 TCP 포트 9090을 외부에 9090으로 노출
      - "9090:9090"
      # application.yml의 관리용 웹 포트 8081을 외부에 8081로 노출
      - "8081:8081"
    restart: always # VM이 재시작되어도 자동으로 컨테이너 실행


    environment:
      # 스프링부트가 엘라스틱서치 컨테이너를 찾을 주소 설정
      - SPRING_ELASTICSEARCH_URIS=http://elasticsearch:9200
    depends_on:
      - elasticsearch


  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.15.0
    container_name: flobank-elasticsearch
    environment:
      - node.name=elasticsearch
      - cluster.name=docker-cluster
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - xpack.security.enabled=false  # 보안 비활성화 (개발용)
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - es_data:/usr/share/elasticsearch/data
    ports:
      - "9200:9200"

volumes:
    es_data:
      driver: local